<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="User Id=userId;Password= password;Data Source=LOCAL"  providerName="" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
 <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Service1.Service1Behavior" name="MyWcfService.Service1">
        <endpoint address="" bindingConfiguration="WSHttpBinding_IService1" binding="wsHttpBinding"  name="WSHttpBinding_IService1" contract="MyWcfService.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1.Service1Behavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <!-- ifdef ${MyServiceLocation} -->
      <!--
      <endpoint address="${MyServiceLocation}"  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
     contract="MyWcfService.IService1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      -->
      <!-- else -->
      <endpoint address="http://localhost:18064/Service1.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
     contract="MyWcfService.IService1" name="WSHttpBinding_IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- endif -->
    </client>
 
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
